streamlit
langchain
langchain-openai
python-dotenv
yfinance
pandas
plotly
numpy
ta
langgraph
pydantic
fpdf2
secure-smtplib
email-validator
kaleido
fastapi
uvicorn
twilio
python-multipart
requests
pydub
SpeechRecognition
streamlit-webrtc
av
authlib
PyJWT>=2.0.0
extra-streamlit-components
google-auth-oauthlib
google-api-python-client
PyJWT
extra-streamlit-components